* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    height: 100%;
    color: white;
    line-height: 1.8;
}

/* text design */
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}


.header-text {
    font-size: 140%;
    padding:12px;
    color: white;
    background-color:#000;
    letter-spacing: 10px;
    text-align:center;
}

/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: teal;
 color: #fff;
}
.nav-links a {
 color: #fff;
}

/* LOGO */
.logo {
 font-size: 32px;
}

/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #4c9e9e;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative; 
}
.dropdown {
 background-color: rgb(1, 139, 139);
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
.services:hover .dropdown {
 display: block;
}

.content-container{
    margin-left:auto;
    margin-right:auto;
    max-width:980px;
    max-width:1140px;
    padding:0.01em 16px;
}


.display-container{
    position:relative;
}

.black-box,.hover-black-box:hover {
    color: white;
    background-color:#000
}

.display-middle{
    position:absolute;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}

.center-element{
    text-align: center;
}
/* padding options */
.padding-8{padding:8px;}
.padding-12{padding:12px 24px!important}
.padding-16{padding:16px;}
.padding-32{padding:32px;}
.padding-64{padding:64px;}
.large-padding{padding:12px 24px}


/* opacity modifiers */
.opacity-min{opacity:0.75}
.hover-opacity {cursor: pointer;}
.opacity,.hover-opacity:hover{opacity:0.60}.opacity-off,.whover-opacity-off:hover{opacity:1}
.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
/* text design */

/* Create a Parallax Effect */
.header-image, .second-image, .third-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Full height) */
.header-image {
    background-image: url('./images/final-thesis.jpg');
    min-height: 100%;
  }

/* Second image (Portfolio) */
.second-image {
  background-image: url("./images/section.jpg");
  min-height: 400px;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .header-image, .second-image {
      background-attachment: scroll;
      min-height: 400px;
    }
  }
  
  @media only screen and (max-width : 992px){
  
    .navbar{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100vw;
      padding-top: 2%;
      padding-bottom: 2%;
      background-color: #000000;
      font-size: 20px;
    }
  
    .main_nav{
      display: none;
    }
  
    .show_nav{
      padding-top: 2%;
      display: flex;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .main_nav li{
      width: 100%;
      height: 50px;
      font-size: 25px;
      justify-content: center;
      text-align: center;
      padding: 0%;
    }
    .navbar_toggle {
      margin-left: 5%;
      margin-right: 5%;
      font-size: 30px;
      color: #ffffff;
      background: transparent;
      border-color: transparent;
      transition: all 0.3s linear;
      cursor: pointer;
      display: block;
    }
}
/*end navigation elements*/


/*portfolio grid*/
.main {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 60px 0px;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery-item{
    cursor: pointer;
    overflow: hidden;
    width: 30%;
    padding:0 8px
}

.gallery-item img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

/*button*/
.button {
    height: 100%;
    color: white;
    line-height: 1.8;
}

.button:hover {
    color:grey;
}


.button:active {
    color:grey;
}

/*modal*/
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.modal img {
    width: 50%;
    object-fit: scale-down;
}


/*close button*/
.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}

/*media queries*/
@media (max-width:600px){.modal{margin:0 10px;width:auto!important}}.modal img{padding-top:30px}
