:root {
  --colour-one: #3bbA9c;
  --colour-two: #2E3047;
  --colour-three: #43455c;
  --colour-four: #3c3f58;
  --colour-five: #707793;
  --background: #2e3047;

  --text-size: 12px;
  --h1-size: 48px;
  --h2-size: 36px;
  --h3-size: 16px;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Lato", sans-serif;
 justify-content: center;
 text-align:center;
 color: var(--colour-one);
}
body, html {
  height: 100%;
  line-height: 1.8;
  background-color: var(--background);
}
h1 {
  font-size: var(--h1-size);
  color: white;
}
h2{
  font-size: var(--h2-size);
  margin-bottom: 2rem;
  color: white;
}
h3{
  font-size: var(--h3-size);
  margin: 0.5rem 2rem;
}
p {
  margin-bottom: 1em;
  max-width: 450px;
  color: white;
}
a {
  text-decoration: none;
}
/*navigation*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--colour-three);
  z-index: 100;
  border-bottom: solid white 0.1em;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 50px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
.navbar {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  padding: 15px;
}
.navbar-link {
  font-size: 0.94rem;
  gap: 4em;
  padding: 4px 8px;
  color: white;
}
/*home container */
#home {
  padding: 1rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link-style {
  text-decoration: none;
  color: white;
  border: solid 0.1em white;
  border-radius: 30px;
  padding: 10px 20px;
  position: relative;
}
.link-style:hover{
  background: var(--colour-one);
}
/*about me */
#about {
  padding: 1rem 1rem;
  max-height: 100vh;
}
.about-me-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.about-me-box {
  text-align: justify;
  padding: 15px;
  background-color: var(--colour-three);
  border-radius: 0.4rem;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
/*portfolio hero */
#portfolio-hero {
  padding: 1rem 1rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
/*portfolio */
#portfolio {
  padding: 1rem 1rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
